<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice1</title>
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        div.result {
            font-size: 24px;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <h1>GET 폼 실습</h1>

    <form name="register">
        <label for="userName">이름</label>
        <input type="text" name="userName" id="userName" autocomplete="username" required>
        <br>

        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" id="male" value="male">
            <label for="male">남자</label>
            <input type="radio" name="gender" id="female" value="female">
            <label for="female">여자</label>
        </fieldset>
        <br>

        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear" id="year">
                <% for(let i=1950; i <=2023; i++) { %>
                    <option value="<%= i %>">
                        <%= i %>
                    </option>
                    <% } %>
            </select>
            <label for="year">년</label>

            <select name="birthMonth" id="month">
                <% for(let i=1; i <=12; i++) { %>
                    <option value="<%= i %>">
                        <%= i %>
                    </option>
                    <% } %>
            </select>
            <label for="month">월</label>

            <select name="birthDay" id="day">
                <% for(let i=1; i <=31; i++) { %>
                    <option value="<%= i %>">
                        <%= i %>
                    </option>
                    <% } %>
            </select>
            <label for="day">일</label>
        </fieldset>
        <br>
        <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="hobby" id="travel" value="travel" required />
            <label for="travel">여행</label>

            <input type="checkbox" name="hobby" id="fashion" value="fashion" required />
            <label for="fashion">패션</label>

            <input type="checkbox" name="hobby" id="food" value="food" required />
            <label for="food">음식</label>
        </fieldset>
        <br>
        <button type="button" onclick="signUp()">회원가입</button>
        <div class="result"></div>
    </form>

    <script>
        const resultBox = document.querySelector('.result')

        function signUp() {
            const form = document.forms['register'];

            let hobbyResult = [];

            for (let i = 0; i < form.hobby.length; i++) {
                if (form.hobby[i].checked) {
                    hobbyResult.push(form.hobby[i].value);
                }
            }
            const data = {
                name: form.userName.value,
                gender: form.gender.value,
                birth: [form.birthYear.value, form.birthMonth.value, form.birthDay.value],
                hobby : hobbyResult
            }
            axios({
                method: 'get',
                url: '/axios',
                params: data
            }).then((response) => {
                resultBox.innerHTML = `Get-axios 요청 완료! <br> ${response.data.name}님의 성별은 ${response.data.gender}! <br> 생년월일은 ${response.data.birth[0]}년 ${response.data.birth[1]}월 ${response.data.birth[2]}일 <br> 취미는 ${response.data.hobby}`;
                // console.log(response.data.hobby);

            }).catch((err) => {
                resultBox.textContent = `Get-axios 요청 실패ㅠ 코드를 다시 확인해주세요`;
            })
        }

    </script>
</body>

</html>